/backend_scripts/other_models.py
/Data/
/DataInit/
/hidden_ac_6pa.py
/plot_figures.py
.idea
/Fig/
/single_reward/*.png
/multiple_pa/*.png
/other_pa/*.png
/motor_controller/motor*
/motor_controller/eps_motor_controller_2h_ns_0.75omg_1024_2021-06-04
/motor_controller/training_1
/motor_controller/eps_motor_controller_2h_20_0.75omg_1024_2021-06-04/
