/backend_scripts/other_models.py
/Data/
/DataInit/
/hidden_ac_6pa.py
/plot_figures.py
.idea
/Fig2/
/motor_controller/motor_controller_2h_drp_0.025omg_512_2021-06-03/
/motor_controller/motor_controller_1h_0.025omg_512_2021-06-03/
/motor_controller/motor_controller_2h_0.025omg_1024_2021-06-03/
